@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --light-gray: #E5E5E5;
    --light-black: #495057;
    --dark-gray: #6c757d;
    --logo-white-color: #F8F9FA;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    min-height: 100vh;
    margin-inline: auto;
    width: 100%;
    max-width: 1440px;
}

.primary-btn {
    border-radius: 8px;
    padding: 5px 10px;
    gap: 10px;
    background: #FFFFFF26;
    color: var(--white-color);
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    text-align: right;
    font-family: "Roboto", sans-serif;
    border: none;
    text-transform: uppercase;
}


/* -------section one---------- */

.navbar-container {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-one-nav {
    height: 80px;
}

.navlinks {
    display: flex;
    gap: 10px;
}

.navlinks li a {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    font-family: "Roboto", sans-serif;
    color: var(--light-gray);
    position: relative;
}

li.icon {
    width: 20px;
    height: 20px;
}

.navlinks li a.active {
    color: var(--white-color) !important;
}

.navlinks .hover-links a::after, .navlinks li .active::after {
    content: "";
    background: var(--dark-gray);
    background: #D4A373;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    transform-origin: right;
}

.navlinks .hover-links a:hover::after, .navlinks li .active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.image-container {
    background-image: url('../images/section-one.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vl {
    border-left: 0.5px solid var(--light-gray);
    height: 20px;
}

.logo {
    font-size: 1.25rem;
    color: var(--logo-white-color);
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    line-height: 22.4px;
    margin-left: 70px;
    cursor: pointer;
}

.right-gap {
    margin-right: 70px;
}

.header-content {
    position: relative;
}

.header {
    position: absolute;
    margin: auto;
    transform: translateY(110%);
    left: 70px;
}

.content {
    display: block;
}

.header-heading {
    margin-top: 15px;
    font-size: 36px;
    color: var(--white-color);
    line-height: 46.08px;
    font-weight: 700;
    font-family: "Lora", sans-serif;
}

.sub-content {
    display: flex;
    gap: 10px;
}

.header-date {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: var(--light-gray);
    line-height: 15.36px;
    font-weight: 400;
    font-family: "Lora", sans-serif;
}

.hl {
    border-top: 1px solid var(--light-gray);
    width: 20px;
    margin-top: 23px;
}

.sub-heading {
    margin-top: 13px;
    margin-bottom: 140px;
    font-size: 12px;
    color: var(--light-gray);
    line-height: 20px;
    font-weight: 400;
    font-family: "Lora", sans-serif;
}

.line {
    background: var(--white-color);
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.38rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}


/* --------section two ----------- */

.section-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-two-nav {
    padding: 30px 0 30px 70px;
}

.navbar-right {
    float: right;
    margin-right: 70px;
}

.section-two-heading {
    margin: 100px 0 0 70px;
    font-family: "Lora", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.08px;
    text-align: left;
    color: #495057;
}

.section-navbar li a.active {
    color: #D4A373;
}

.section-navbar li a:hover, .navbar-right a:hover {
    color: #D4A373;
}

.section-navbar li a, .navbar-right {
    font-family: "Lora", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #495057;
}

.grid-card-container {
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.grid-card {
    height: 280px;
    background: var(--light-black);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.card {
    display: block;
    width: 100%;
}

.card-content {
    height: 170px;
    width: 100%;
    margin-bottom: 50px;
}

.card:nth-child(1) .grid-card {
    background-image: url('../images/section-two-1.png');
}

.card:nth-child(2) .grid-card {
    background-image: url('../images/section-two-2.png');
}

.card:nth-child(3) .grid-card {
    background-image: url('../images/section-two-3.png');
}

.card:nth-child(4) .grid-card {
    background-image: url('../images/section-two-4.png');
}

.card:nth-child(5) .grid-card {
    background-image: url('../images/section-two-5.png');
}

.card:nth-child(6) .grid-card {
    background-image: url('../images/section-two-6.png');
}

.card:nth-child(7) .grid-card {
    background-image: url('../images/section-two-7.png');
}

.card:nth-child(8) .grid-card {
    background-image: url('../images/section-two-8.png');
}

.card-heading {
    color: #495057;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Lora", sans-serif;
}

.color-change {
    color: var(--dark-gray) !important;
}






/* --------section three ----------- */

.image-container2 {
    background-image: url('../images/section-three.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-three-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section-three-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(70%);
}

.heading-content {
    margin-top: 24px;
    font-size: 36px;
    color: var(--white-color);
    line-height: 46.08px;
    font-weight: 700;
    font-family: "Lora", sans-serif;
}

.section-date {
    font-size: 12px;
    color: var(--light-gray);
    line-height: 15.36px;
    font-weight: 400;
    font-family: "Lora", sans-serif;
}


/* --------------section four-------- */

.sub-container {
    padding: 100px 70px 0;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card1 {
    background-image: url('../images/section-four-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 30px;
    border-radius: 5px;
}

.card2 {
    background-image: url('../images/section-four-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 30px;
    border-radius: 5px;
}

.card3 {
    background-image: url('../images/section-four-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 30px;
    border-radius: 5px;
}

.btn-style {
    float: right;
    margin-top: 20px;
}

.card-date {
    margin-top: 153px;
}

.card-para {
    color: var(--white-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Lora", sans-serif;
}

.section-four-heading {
    margin-bottom: 70px;
    color: #495057;
}

.sub-heading {
    margin-bottom: 42px;
}





/* ---------foooter------- */

.footer-container {
    max-width: 1440px;
    height: 400px;
    margin: auto;
}

.footer {
    background: #212529;
}

.footer-row {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;
    padding: 70px;
}

.footer-col h4 {
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #D4A373;
    height: 3px;
    width: 40%;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 12px;
    color: var(--light-gray);
    line-height: 15.36px;
    font-weight: 400;
    font-family: "Lora", sans-serif;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #FFFFFF;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 20px;
    width: 20px;
    color: var(--light-gray);
    margin: 0 10px 10px 0;
}


/* sub footer  */

.sub-footer {
    width: 100%;
    height: 80px;
}

.sub-footer {
    background: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.92px;
    float: left;
    font-family: "Lora", sans-serif;
    margin-left: 70px;
    color: var(--light-gray);
}

.subscribe {
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.92px;
    float: right;
    margin-right: 70px;
    color: var(--light-gray);
}




/* ----------Animation for first section---- */

.header-heading {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.sub-content {
    animation: 5s anim-lineUp ease-out;
}



/* -------------Media Queries---------- */

@media only screen and (max-width:600px) {
    
    /* section one */

    .navlinks {
        flex-direction: column;
        position: absolute;
        top: 0;
        background: var(--light-gray);
        color: var(--light-black);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 5;
        gap: 20px;
        transition: 0.5s ease-in-out;
    }
    .navlinks li a.active {
        color: var(--light-black) !important;
    }
    .navlinks-active {
        right: 0;
    }
    .navlinks li a {
        font-size: 15px;
        color: var(--light-black);
        margin-left: 0;
    }
    .logo {
        z-index: 5;
        margin-left: 50px;
    }
    .right-gap {
        margin-right: 0;
    }
    .hamburger {
        display: block;
        z-index: 5;
        margin-right: 50px;
    }
    .header-heading {
        font-size: 25px;
    }
    header {
        justify-content: flex-start;
    }
    .header-content {
        margin-top: 10%;
        margin-left: 40px;
        margin-right: 10px;
    }
    .section-one-heading {
        width: 50%;
    }
    .image-container {
        width: 100%;
    }
    
    /* section two  */

    .grid-card-container {
        margin-right: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .section-navbar {
        flex-wrap: wrap;
        margin-right: 20px;
    }
    .navbar-right {
        display: none;
    }
    .section-two-nav {
        margin: 10px 30px;
    }


    /* section three  */

    .heading-content {
        margin-top: 10px;
        font-size: 25px;
        color: var(--white-color);
    }
    .top-gap {
        margin-top: 100px;
    }
    .section-three {
        width: 100%;
    }


    /* section four  */
    
    .cards-container {
        flex-wrap: wrap;
    }


    /* footer section  */

    .footer-col {
        width: 25%;
        height: 100%;
        padding: 20px 20px;
    }

}